<mat-card>
    <mat-tab-group class="m--16">
        <mat-tab label="Primero">
          <div class="m-16">
            <img class="d-block w-full" src="assets/images/divisa/lempiramoneda.jpg" alt="">
            <h3>Lempira hondureño
            </h3>
            <p>
              El Lempira (código ISO 4217: HNL) es la unidad monetaria de Honduras desde 1931. Se divide en 100 centavos.
              El organismo responsable de la emisión del Lempira es el Banco Central de Honduras.
              Circulan monedas de 5 y 10 centavos (aleación de cobre y cinc) y 20 y 50 centavos (aleación de acero y níquel).
              Circulaban monedas de 1 y 2 centavos (fabricadas con una aleación de acero y cobre). 
              El Banco Atlántida fundado en 1913 como entidad bancaría privada, fue el primer emisor de papel moneda en el país.
              Antes de 1930, la moneda oficial era el peso. En 1932 el Congreso Nacional estableció como nueva moneda oficial el Lempira.
              Más tarde, fue fundado el Banco Central de Honduras en el año de 1950 y desde entonces la divisa pasó a estar bajo la tutela y el control estatal. </p>
          </div>
        </mat-tab>
        <mat-tab label="Segundo">
          <div class="m-16">
            <img class="d-block w-full" src="assets/images/divisa/euromoneda.jpg" alt="">
            <h3>Euro.</h3>
            <p>
              El euro comenzó su andadura en 1999, cuando 11 países (Austria, Bélgica, Finlandia, Francia, Alemania, Irlanda, Italia, Luxemburgo,
              Países Bajos, Portugal y España) fijaron sus tipos de cambio y crearon una nueva moneda con una política monetaria que pasó al Banco Central Europeo.
              Al principio, el euro era una "moneda invisible" y solo se utilizaba para fines contables. Tres años después, las monedas y los 
              billetes en euros llegaron a la circulación y las monedas nacionales se retiraron gradualmente.
              A lo largo de los años, 8 países más se unieron al club (Chipre, Estonia, Grecia, Letonia, Lituania, Malta, Eslovaquia, Eslovenia).
              Los primeros 10 años del euro estuvieron marcados por el establecimiento y la ampliación de la moneda.
              La segunda década fue en gran medida eclipsada por la crisis.
              Cinco países de la eurozona (Irlanda, España, Portugal, Chipre y Grecia) tuvieron que buscar ayuda debido a la crisis financiera y la subsiguiente crisis de la deuda soberana en medio del aumento de las especulaciones sobre la salida del euro.</p>

          </div>
        </mat-tab>
        <mat-tab label="Tercero">
          <div class="m-16">
            <img class="d-block w-full" src="assets/images/divisa/dolarmoneda.jpg" alt="">
            <h3>Dolar estadounidense</h3>
            <p>
              La historia del dólar estadounidense se remonta a 1690 antes del nacimiento del país, cuando la región no era más que un conjunto de colonias europeas. 
              El primer atisbo de dólar que se conoce pertenece a una colonia de Massachusetts que comenzó a usar billetes de papel para financiar expediciones militares. 
              Así, tras la introducción del papel moneda en Massachusetts, el resto de colonias adoptó esta técnica de intercambio.
              De todos modos, los británicos impusieron diversas restricciones a las monedas de papel y cuando comenzaron a popularizarse decidieron ilegalizarlas.
              En 1775, cuando los colonos se preparaban para ir a la guerra contra los británicos, se introdujo la moneda continental con el objetivo de unificar las transacciones. 
              Sin embargo, esta moneda no duró mucho ya que no había suficiente respaldo financiero y los billetes podían ser falsificados fácilmente.</p>

          </div>
        </mat-tab>
      </mat-tab-group>
</mat-card>
